.flexbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexbox-item{
    width: 500px;
    height: 300px;
    margin: 10px;
    border:rgb(46, 44, 41) 3px solid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}